<div class="header">

</div>
<div class="frame card_offset">
  <div class="card">
    <div class="details">
      <div class="user_photo horizontal_center" id="user_photo">
        <img src="{{mediumPicture}}">

      </div>
      <p id="user_title">My email address is</p>
      <p id="user_value">{{email}}</p>


    </div>
    <ul class="values_list horizontal_center" id="values_list">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <i class="fa fa-user"
            aria-hidden="true"></i> </a>
      </li>
      <li>
        <a routerLink="/email" routerLinkActive="active"> <i class="fa fa-envelope" aria-hidden="true"></i> </a>
      </li>
      <li>
        <a routerLink="/dob" routerLinkActive="active"> <i class="far fa-calendar" aria-hidden="true"></i> </a>
      </li>
      <li>
        <a routerLink="/address" routerLinkActive="active"> <i class="fa fa-map" aria-hidden="true"></i> </a>
      </li>
      <li>
        <a routerLink="/cellno" routerLinkActive="active"> <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="/password" routerLinkActive="active"> <i class="fa fa-lock" aria-hidden="true"></i> </a>
      </li>
    </ul>


  </div>

</div>